version: '3'

networks:
  transcendence:
    name: transcendence

volumes:
  postgres_data:
    driver: local
  static_volume:
    driver: local
    name: static_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/staticfiles
  templates_volume:
    driver: local
    name: templates_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/pong_app/templates
  media_volume:
    driver: local
    name: media_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/media
  debuf_volume:
    driver: local
    name: debuf_volume
    driver_opts:
      type: none
      o: bind
      device: ./${DJANGO_FOLDER}/static


services:
  django:
    build:
      context: ./${DJANGO_FOLDER}/
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - transcendence
    restart: on-failure
    volumes:
      - templates_volume:/usr/src/app/pong_app/templates
      - static_volume:/usr/src/app/staticfiles
      - media_volume:/usr/src/app/media
      - debuf_volume:/usr/src/app/static
    stop_signal: SIGINT

  nginx:
    build:
      context: ./${NGINX_FOLDER}/
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8443:443"
    depends_on:
      - django
    networks:
      - transcendence
    restart: on-failure
    volumes:
      - static_volume:/var/lib/nginx/static
      - media_volume:/var/lib/nginx/media

  postgres:
    image: postgres:latest
    env_file: .env
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - transcendence
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${DATABASE_NAME} -U ${DATABASE_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - transcendence
