body {
	background-color: #000;
	color: #fff;
}

.board {
	position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid #fff;
}

.player_1_score {
	position: absolute;
	left: 10%;
	top: 10px;
	transform: translateX(-50%);
	font-size: 40px;
}

.player_2_score {
	position: absolute;
	right: 10%;
	top: 10px;
	transform: translateX(50%);
	font-size: 40px;
}

.paddle,
.ball {
	position: absolute;
}

.col-6 {
	margin: 0 15px;
}

.paddle_1 {
	width: 20px;
	height: 100px;
	background-color: #fff;
	left: 0;
	/* top: 50%; */
}

.paddle_2 {
	width: 20px;
	height: 100px;
	background-color: #fff;
	right: 0;
	/* top: 50%; */
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

.ball {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.black-btn {
	background-color: #000;
	/* Black */
	color: #fff;
	/* White */
	border: 2px solid #fff;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.black-btn:hover {
	background-color: #fff;
	/* White */
	color: #000;
	/* Black */
	transform: scale(1.1);
}

.goHomeBtn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 150px;
	height: 50px;
	font-size: 12px;
}

.topbar-sticky {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.topbar a {
	color: white !important;
}

.nav-item {
	background-color: #000;
}

.nav-link {
	color: #fff;
	transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
    color: #f00 !important;
}

.nav-item .nav-link.active {
    color: #f00 !important;
}

.top-50 {
	top: 50% !important;
}

html, body {
	overflow: hidden;
}