body {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.5)),
		url('https://images4.alphacoders.com/889/889823.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	margin: 0;
	overflow: hidden;
	height: 100vh;
}

html,
body {
	margin: 0;
	height: 100%;
}

.board {
		position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid #fff;
}

.player_1_score {
	position: absolute;
	left: 10%;
	top: 10px;
	transform: translateX(-50%);
	font-size: 40px;
}

.player_2_score {
	position: absolute;
	right: 10%;
	top: 10px;
	transform: translateX(50%);
	font-size: 40px;
}

.player_1_name {
	position: absolute;
	left: 0;
	display: none;
}

.player_2_name {
	position: absolute;
	right: 0;
	display: none;
}

.ball {
	position: absolute;
}

.col-6 {
	margin: 0 15px;
}

.paddle_1,
.paddle_2 {
	height: 100px;
	width: 20px;
	/* You can adjust the width as needed */
	background-color: #fff;
	position: absolute;
	top : 50%;
	transform: translateY(-50%);
}

.paddle_1 {
	left: 0;
	transform: rotate(180deg) translateY(+50%);
}

.paddle_2 {
	right: 0;
}

.ball.skin1 {
	background-color: #fff;
}

.ball.skin2 {
	background: url('https://i.ibb.co/sHfnxvG/bauble-1.png') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin1 {
	background-color: #fff;
}

.paddle.skin2 {
	background: url('https://i.ibb.co/89VMQrT/barres.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin3 {
	background: url('https://i.ibb.co/wCGdmBH/ours.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin4 {
	background: url('https://i.ibb.co/PtPXYL4/feaeaf-2.png') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}


.paddle.skin5 {
	background: url('https://i.ibb.co/qdY1CMD/vjefi0L.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.blackSkin {
	background-color: #000;
}

.board.skin1 {
	background-color: #000;
}

.board.skin2 {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.5)),
		 url('https://wallpapercave.com/wp/wp3850584.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

select {
	width: 140px;
	height: 35px;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px #999;
	background: #eee;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type="submit"] {
	background-color: #f7ff19;
	border: none;
	color: #000;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius : 5px;
	font-size: 16px;
	margin: 4px 8px;
	cursor: pointer; 
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

.ball {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.yellow-btn {
	background-color: #f7ff19;
	padding: 5px 20px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.yellow-btn:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}

.straight-btn {
	background-color: #f7ff19;
	padding: 10px 35px;
	border: none;
	border-radius: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: bold;
	font-size: 30px;
}

.straight-btn:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}


.topbar-sticky {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
}

.topbar a {
	color: #ecedee !important;
}

.nav-link {
	color: #000;
	transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
	color: #e6e6ea !important;
}

.nav-item .nav-link.active {
	color: #e6e6ea !important;
}

.nav-item .nav-link.hover-square {
	position: relative;
	overflow: hidden;
}

.nav-item .nav-link.hover-square::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #404044;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 0.5rem;
	z-index: -1;
}

.nav-item .nav-link.hover-square:hover::before,
.nav-item .nav-link.active::before {
	opacity: 1;
}

.top-50 {
	top: 50% !important;
}

#userName {
	font-size: 25px;
}

#userImage {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

#userImageProfile {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

#usernameProfile {
	color: #ecedee;
	padding: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.profile-image-container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#userInfo {
	list-style: none;
	padding: 0;
	border-radius: 5px;
	padding: 15px;
}

#userInfo li {
	margin-bottom: 10px;
	color: #ecedee;
	font-weight: bold;
}

input[type="search"] {
	width: 20rem;
	height: 2rem;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.lb-title {
	font-size: 50px;
	color: #f7ff19;
	font-weight: 900;
	text-shadow: #f7ff19;
	font-style: italic;
	text-align: center;
	padding: 120px;
}

.no-border,
.no-border th,
.no-border td {
	border: none;
}

thead {
	border: none;
}

tr {
	border: none;
}

#leaderboard td,
#leaderboard th {
	border: none;
}


#leaderboard {
	border-collapse: collapse;
	background-color: #151718;
	color: #ecedee;
}

.custom-bg {
	background-color: #151718;
	margin-top: 50px;
	padding: 25px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

#create-tournament-form {
	background-color: #151718;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

#tournament-name {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
}

.button-style {
	background-color: #f7ff19;
	color: #000;
	padding: 10px 20px;
	width : auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button-style:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}

#create-tournament-form button[type="submit"], .button-style {
	float: right;
}

#tournament-list, #create-tournament-form {
	margin-top: -300px;
}

#tournament-list {
	width: 90%;
	margin: 20px auto;
}

#tournament-list thead {
	background-color: #151718;
	color: #fff;
}

#tournament-list tbody tr:hover {
	background-color: #323739;
}

#tournament-list th, #tournament-list td {
	padding: 15px;
	text-align: left;
}

#tournament-list tr:nth-child(even) {
	background-color: #151718;
}

#tournament-list th {
	background-color: #151718;
	color: white;
}

#tournament-list tbody tr {
	background-color: #151718;
}
