body {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.5)),
		url('https://images4.alphacoders.com/889/889823.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	margin: 0;
	overflow: hidden;
	height: 100vh;
}

html,
body {
	margin: 0;
	height: 100%;
}

.board {
	position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid #fff;
}

.player_1_score {
	position: absolute;
	left: 10%;
	top: 10px;
	transform: translateX(-50%);
	font-size: 40px;
}

.player_2_score {
	position: absolute;
	right: 10%;
	top: 10px;
	transform: translateX(50%);
	font-size: 40px;
}

.paddle,
.ball {
	position: absolute;
}

.col-6 {
	margin: 0 15px;
}

.paddle_1 {
	width: 20px;
	height: 100px;
	background-color: #fff;
	left: 0;
}

.paddle_2 {
	width: 20px;
	height: 100px;
	background-color: #fff;
	right: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

.ball {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.black-btn {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.black-btn:hover {
	background-color: #fff;
	color: #000;
	transform: scale(1.1);
}

.goHomeBtn {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 150px;
	height: 50px;
	font-size: 12px;
}

.topbar-sticky {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
}

.topbar a {
	color: #AAAAAE !important;
}

.nav-link {
	color: #000;
	transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
	color: #e6e6ea !important;
}

.nav-item .nav-link.active {
	color: #e6e6ea !important;
}

.nav-item .nav-link.hover-square {
	position: relative;
	overflow: hidden;
}

.nav-item .nav-link.hover-square::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #404044;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 0.5rem;
	z-index: -1;
}

.nav-item .nav-link.hover-square:hover::before,
.nav-item .nav-link.active::before {
	opacity: 1;
}

.top-50 {
	top: 50% !important;
}

#userName {
	font-size: 25px;
}

#userImage {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}

#userImageProfil {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

#usernameProfil {
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 15px;
	border-radius: 15px;
}

.profile-image-container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#userInfo {
	list-style: none;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 15px;
	padding: 15px;
}

#userInfo li {
	margin-bottom: 10px;
	color: #fff;
}

input[type="search"] {
	width: 20rem;
	height: 2rem;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
 }