@font-face {
	font-family: 'BurbankBigCondensed-Black';
	src: url('/static/fonts/BurbankBigCondensed-Black.otf');
}

@font-face {
	font-family: 'Uni Sans Heavy';
	src: url('/static/fonts/Uni Sans Heavy.otf');
}

@font-face {
	font-family: 'GG SANS';
	src: url('/static/fonts/ggsans-Normal.ttf');
}


body {
	background-color: #202425;
	color: #fff;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden !important;
	height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
}

.myFooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #151718;
	color: white;
	text-align: center;
	padding: 40px 0;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrollable {
	flex-grow: 1;
	overflow: auto;
}


html,
body {
	margin: 0;
	height: 100%;
}

.board {
	position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid #fff;
}

.player_1_score {
	position: absolute;
	left: 10%;
	top: 10px;
	transform: translateX(-50%);
	font-size: 40px;
}

.player_2_score {
	position: absolute;
	right: 10%;
	top: 10px;
	transform: translateX(50%);
	font-size: 40px;
}

.player_1_name {
	position: absolute;
	left: 0;
	display: none;
}

.player_2_name {
	position: absolute;
	right: 0;
	display: none;
}

.col-6 {
	margin: 0 15px;
}

.paddle_1,
.paddle_2 {
	height: 100px;
	width: 20px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.paddle_1 {
	left: 0;
	transform: rotate(180deg) translateY(+50%);
}

.paddle_2 {
	right: 0;
}

.ball.skin1 {
	background-color: #fff;
}

.ball.skin2 {
	background: url('../images/noel-ball.png') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.ball.skin3 {
	background: url('../images/hollow-ball.jpg') no-repeat;
	background-size: cover;
}

.ball.skin4 {
	background: url('../images/t1-ball.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin1 {
	background-color: #fff;
}

.paddle.skin2 {
	background: url('../images/dog-pa.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin3 {
	background: url('../images/bear-pa.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

.paddle.skin4 {
	background: url('../images/zombie-pa.png') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}


.paddle.skin5 {
	background: url('../images/cute-pa.jpg') no-repeat;
	background-size: cover;
	border: 1px solid #fff;
}

/* .blackSkin {
	background-color: #000;
} */

.board.skin1 {
	background-color: #000;
}

.board.skin2 {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.5)),
		url('../images/noel-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.board.skin3 {
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.5)),
		url('../images/hollow-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

select {
	width: 140px;
	height: 35px;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px #999;
	background: #eee;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type="submit"] {
	background-color: #f7ff19;
	border: none;
	color: #000;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-size: 16px;
	margin: 4px 8px;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.message {
	font-size: 30px;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
}

.ball {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.yellow-btn {
	background-color: #f7ff19;
	padding: 5px 20px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.yellow-btn:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}

.delete-friend-btn {
	background-color: #ff1919;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 10px;
}

.delete-friend-btn:hover {
	background-color: #ff5757;
	color: #000;
	transform: scale(1.1);
}

.green-btn {
	background-color: #19ff47da;
	padding: 5px 20px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.green-btn:hover {
	background-color: #57ff6bdf;
	color: #000;
	transform: scale(1.1);
}

.red-btn {
	background-color: #da3752;
	padding: 5px 20px;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.red-btn:hover {
	background-color: #ff5757df;
	color: #000;
	transform: scale(1.1);
}

.straight-btn {
	background-color: #f7ff19;
	padding: 10px 35px;
	border: none;
	border-radius: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: bold;
	font-size: 30px;
}

.straight-btn:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}


.topbar-sticky {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
}

.topbar a {
	color: #ecedee !important;
}

.nav-link {
	color: #000;
	transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
	color: #e6e6ea !important;
}

.nav-item .nav-link.active {
	color: #e6e6ea !important;
}

.nav-item .nav-link.hover-square {
	position: relative;
	overflow: hidden;
}

.nav-item .nav-link.hover-square::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #404044;
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 0.5rem;
	z-index: -1;
}

.nav-item .nav-link.hover-square:hover::before,
.nav-item .nav-link.active::before {
	opacity: 1;
}

.top-50 {
	top: 50% !important;
}

#userName {
	font-size: 25px;
}

.user-image-container {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #18181C;
}

#userImage {
	width: 100%;
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#userImageProfile {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
}

#usernameProfile {
	color: #ecedee;
	padding: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.profile-image-container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#userInfo {
	list-style: none;
	padding: 0;
	border-radius: 5px;
	padding: 15px;
}

#userInfo li {
	margin-bottom: 10px;
	color: #ecedee;
	font-weight: bold;
}

input[type="search"] {
	width: 20rem;
	height: 2rem;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.lb-title {
	font-family: 'BurbankBigCondensed-Black', sans-serif !important;
	font-size: 3.8rem;
	color: #f7ff19;
	font-weight: 900;
	text-shadow: #f7ff19;
	font-style: italic;
	text-align: center;
	padding: 50px;
}

.tournament-title {
	font-family: 'BurbankBigCondensed-Black', sans-serif !important;
	color: #f7ff19;
	text-shadow: #f7ff19;
	text-align: center;
}

#leaderboardHeader::before {
	content: "";
	background: url(../images/lb-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 1;
}

#leaderboardHeader::after {
	content: "";
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

thead {
	border: none;
}

#leaderboard td,
#leaderboard th {
	background-color: #151718;
	border-radius: 2.5px;
	border: none;
}

#leaderboard {
	color: #ecedee;
	border-collapse: separate;
	border-spacing: 10px 10px;
	width: 60%;
}

div.card.custom-bg {
	background-color: #151718;
	color: #fff;
}

#create-tournament-form {
	background-color: #151718;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

#tournament-name {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 20px;
}

.button-style {
	background-color: #f7ff19;
	color: #000;
	padding: 10px 20px;
	width: auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button-style:hover {
	background-color: #f9ff57;
	color: #000;
	transform: scale(1.1);
}

#create-tournament-form button[type="submit"],
.button-style {
	float: right;
}

#tournament-list {
	width: 90%;
	margin: 20px auto;
}

#tournament-list thead {
	background-color: #151718;
	color: #fff;
}

#tournament-list tbody tr:hover {
	background-color: #323739;
}

tr:hover td {
	background-color: #050506 !important;
}


#tournament-list th,
#tournament-list td {
	padding: 15px;
	text-align: left;
}

#tournament-list tr:nth-child(even) {
	background-color: #151718;
}

#tournament-list th {
	background-color: #151718;
	color: white;
}

#tournament-list tbody tr {
	background-color: #151718;
}

.readyStatusIndicator {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

#playerList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

#playerList li {
	background-color: #151718;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	justify-content: start;
	align-items: left;
	display: flex;
	align-items: center;
}

#playerList li:hover {
	background-color: #090801;
}

.player-grid {
	display: flex;
	flex-wrap: wrap;
}

.player-grid li {
	flex: 50%;
}

.selected-player {
	border: 2px solid #00ff00;
}

.aliasSpan {
	color: #f7ff19;
	font-weight: bold;
	margin-left: 10px;
}

.error {
	color: red;
	transition: opacity 2s linear;
	opacity: 1;
}

.error.hide {
	opacity: 0;
}

.card {
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	justify-content: start;
	align-items: left;
	display: flex;
	align-items: center;
	margin: 10px;
	transition: all 0.3s ease-in-out;
}

.card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-body {
	padding: 15px;
}

.card-title {
	font-family: 'BurbankBigCondensed-Black', sans-serif !important;
	font-size: 1.8rem;
}

.card-title-profile {
	font-family: 'BurbankBigCondensed-Black', sans-serif !important;
	font-size: 2.8rem;
}

.card:hover {
	background-color: #f8f9fa;
	transform: scale(1.05);
}

.card.no-hover:hover {
	transform: none;
}

.flex-card-profile {
	display: flex;
	flex-direction: row;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.flex-2facard{
	display: flex;
	padding: 20px;
	width: fit-content;
	flex: 0 1 auto;
}

.card-img-top-profile {
	width: 50%;
	height: auto;
	padding: 20px;
}

.card-body-profile {
	width: 50%;
	padding: 20px;
}

#qrCodeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes pulse {

	0%,
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}

	50% {
		transform: translate(-50%, -50%) scale(1.2);
		opacity: 1;
	}
}

#loadingMessage {
	font-size: 2em;
	animation: pulse 2s infinite;
	transform-origin: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.friendlist-btn {
	display: flex;
	background-color: #f7ff19;
	padding: 5px 20px;
	border: none;
	display: block;
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.friendlist-btn:hover {
	background-color: #f9ff57;
	color: #000;
}


.friend-list {
	position: fixed;
	bottom: 0;
	z-index: 100;
	right: 20px;
	width: 200px;
	background-color: #18181c;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.friend-box {
	flex: 1; /* Adjusted to take full width */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%; /* Ensure it takes full width */
	padding: 10px;
	background-color: #09090a;
	margin: 5px 0;
	border-radius: 5px;
}

.friend-list-content {
	display: flex;
	overflow: auto;
	max-height: 200px;
	margin-bottom: 10px;
	flex-direction: column;
}

#toggleButton:focus {
	outline: none;
}


.friend-list-item {
	flex-grow: 1;
	margin-bottom: 5px;
}

#addFriendInput,
#addFriendButton {
	margin-bottom: 10px;
	max-width: 100%;
}

#notificationContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	display: flex;
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

#notification {
	background-color: #18181c;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#notification button {
	margin-top: 10px;
	/* center buttons */
	display: flex;
	justify-content: center;
	align-items: center;
}

.notification-btn {
	background-color: #f7ff19;
	padding: 5px 20px;
	border: none;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.notification-btn:hover {
	background-color: #f9ff57;
	color: #000;
}

.chat-container {
	width: 80%;
	height: 600;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #18181c;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-container {
	display: flex;
	flex-direction: row;
}

#gameHistoryCard {
	flex-grow: 1;
}

#chat-messages {
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
	padding: 10px;
	color: #000;
	scrollbar-width: thin;
	scrollbar-color: #fff #3a3737;
}

#chat-messages::-webkit-scrollbar {
	width: 10px;
}

#chat-messages::-webkit-scrollbar-track {
	background-color: #3a3737;
}

#chat-messages::-webkit-scrollbar-thumb {
	background-color: #fff;
}

#chat-messages::-webkit-scrollbar-thumb:hover {
	background-color: #fff;
}

#chat-form {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

#message-input {
	flex-grow: 1;
	margin-right: 10px;
	padding: 5px;
	background-color: #202425;
	border: none;
	outline: none;
	font-family: 'GG SANS', sans-serif;
	caret-color: #fff;
	color: #fff;
}

#chat-form button {
	background-color: #f7ff19;
	padding: 5px 20px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

#chat-form button:hover {
	background-color: #f9ff57;
	color: #000;
}

.invitation-notification {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #f9ed69;
	color: #222;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.close-button {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	background: transparent;
	border: none;
	cursor: pointer;
}

.please-login {
	background-color: #151718;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 400px;
	text-align: center;
	display: none;
}

.friend-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-friend-btn {
	background-color: #ff1919;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 10px;
}
