<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<meta name="description" content="Chat with your Pong friends">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<script type="text/javascript" src="{% static 'js/navigation.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'js/setActive.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/friendlist.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login42.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div class="chat-container">
		<div class="scrollable">
			<div id="chat-messages">
			</div>
			<form id="chat-form">
				<input type="text" id="message-input" placeholder="Enter a message...">
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
	
</body>

<footer class="myFooter sticky-footer">
</footer>

</html>