<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Welcome to the Home Page</h1>
				<p>Click the button below to start the game.</p>
				<a href="/pongGame/" class="btn btn-primary">Play Pong</a>
			</div>
		</div>
	</div>
</body>

</html>