<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
	{% include 'topbar.html' %}
	<div class="scrollable">
		<div class="container">
			<div class="row">
				<div class="card">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img class="card-img"
								src="https://i.pinimg.com/736x/e1/16/0b/e1160b7288b066099e3eacd4459b8c94.jpg"
								alt="Card image cap">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Get Ready for a Frolicsome Fun! New Holiday Skins
									Arrive
									for Paddle, Board, and Ball in Our Pong Game!</h5>
								<p class="card-text">We're thrilled to announce that our annual holiday
									event is
									upon us! This year, we've added a festive twist to our beloved Pong
									game
									with new holiday skins for the paddle, board, and ball. Get ready to
									play
									with style as we introduce a variety of holiday-themed skins.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img class="card-img" src="https://images7.alphacoders.com/118/1188269.jpg"
								alt="Card image cap">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Halloween Spooktacular! New Themed Skins Arrive
									for
									Paddle, Board, and Ball in Our Pong Game!</h5>
								<p class="card-text">Join us for a spooktacular time! We've added a
									Halloween twist to our beloved Pong game with new themed skins for
									the
									paddle, board, and ball. Get ready to play with style as we
									introduce a
									variety of Halloween-themed skins.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img class="card-img" src="https://pbs.twimg.com/media/GAYyR9XbQAAJSWX.jpg"
								alt="Card image cap">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Space Mystique! New Themed Skins Arrive for Your Journey in
									Space!</h5>

								<p class="card-text">Embark on a journey through the cosmos with our latest Space
									Mystique event! We've introduced a range of mystic space-themed skins that will
									add a touch of magic to your gameplay. Experience the thrill of exploring the
									galaxy with these unique skins.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img class="card-img"
								src="https://cdn2.unrealengine.com/Fortnite%2Fblog%2F14-days-of-summer%2F09BR_14DoS_Announce_NewsHeader-1920x1080-fa5f73145b6d51533a6b0bd102a3202e329c4df8.jpg"
								alt="Card image cap">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Summer Sizzle! New Themed Skins Arrive for Your Beachside
									Adventures!</h5>

								<p class="card-text">Get ready to bask in the sun with our latest Summer Sizzle
									event! We've introduced a range of summer-themed skins that will add a touch of
									warmth to your gameplay. Experience the joy of summer beach games with these
									unique skins.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="../static/js/setActive.js"></script>
	<script type="text/javascript" src="../static/js/login42.js"></script>
</body>

<footer class="myFooter">
</footer>

</html>