<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<style>
		.container {
			max-width: 80%;
		}
		.card-header{
			width: 100%;
			background-color: #151718;
			color: #ecedee;
		}
		.btn{
			color: #ecedee
		}
		.btn:hover{
			color: #ecedee;
		}
	</style>
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div class="scrollable">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="card-img" src="../static/images/noel-hp.jpg" alt="Card image cap">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Get Ready for a Frolicsome Fun! New Holiday Skins
										Arrive
										for Paddle, Board, and Ball in Our Pong Game!</h5>
									<p class="card-text">We're thrilled to announce that our annual holiday
										event is
										upon us! This year, we've added a festive twist to our beloved Pong
										game
										with new holiday skins for the paddle, board, and ball. Get ready to
										play
										with style as we introduce a variety of holiday-themed skins.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="card-img" src="../static/images/hollow-hp.jpg" alt="Card image cap">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Halloween Spooktacular! New Themed Skins Arrive
										for
										Paddle, Board, and Ball in Our Pong Game!</h5>
									<p class="card-text">Join us for a spooktacular time! We've added a
										Halloween twist to our beloved Pong game with new themed skins for
										the
										paddle, board, and ball. Get ready to play with style as we
										introduce a
										variety of Halloween-themed skins.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="card-img" src="../static/images/space-hp.jpg" alt="Card image cap">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Space Mystique! New Themed Skins Arrive for Your Journey in
										Space!</h5>

									<p class="card-text">Embark on a journey through the cosmos with our latest Space
										Mystique event! We've introduced a range of mystic space-themed skins that will
										add a touch of magic to your gameplay. Experience the thrill of exploring the
										galaxy with these unique skins.</p>

								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="row no-gutters">
							<div class="col-md-4">
								<img class="card-img" src="../static/images/summer-hp.jpg" alt="Card image cap">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Summer Sizzle! New Themed Skins Arrive for Your Beachside
										Adventures!</h5>

									<p class="card-text">Get ready to bask in the sun with our latest Summer Sizzle
										event! We've introduced a range of summer-themed skins that will add a touch of
										warmth to your gameplay. Experience the joy of summer beach games with these
										unique skins.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										How do I play pong on the website ?
									</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									There is two ways you can play, first you can head to game page and play against a
									random opponent or you can play in a tournament.
									When inside the game you can move your paddle with touch 'w' and 's' keys or with
									the arrow keys.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Will there be more skins in the future ?
									</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									Yes, we are working on adding more skins to the game. If you have any ideas for
									skins you can contact us on discord.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Will there be reward for being high rank ?
									</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									Yes, in the future we will add rewards for being high rank. It will be available in
									the next update.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn" data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
										Is there any plan of other games apart from pong ?
									</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									Yes, we planned to add at least 2 more games in the future. We will announce it on
									discord when we have more information.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="{% static 'js/setActive.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/friendlist.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login42.js' %}"></script>
</body>

<footer class="myFooter sticky-footer">
</footer>

</html>