</html>
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<meta name="description" content="Check the pong leaderboard !">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div class="scrollable">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-center">
					<div class="lb-title" id="leaderboardHeader">Leaderboard</h1>
					</div>
				</div>
				<table class="table no-border" id="leaderboard">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Login</th>
							<th scope="col">Wins</th>
							<th scope="col">Loses</th>
							<th scope="col">Winrate</th>
							<th scope="col">Tourney wins</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/setActive.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/friendlist.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/login42.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/leaderboard.js' %}"></script>
</body>

<footer class="myFooter sticky-footer">
</footer>

</html>