<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game</title>
	<meta name="description" content="Play Pong with friends !">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<script type="text/javascript" src="{% static 'js/login42.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/navigation.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'js/setActive.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/friendlist.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<style>
		.container {
			position: relative;
			top: 80px;
		}

		#showControlsBtn {
			position: relative;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 180px;
			height: 40px;
			font-size: 16px;
			white-space: nowrap;
		}
		.controls {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.controls h2 {
			margin-top: 20px;
		}
	</style>
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div id="scrollable-area" class="scrollable">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="board">
						<div class="paddle paddle_1"></div>
						<div class="paddle paddle_2"></div>
						<div class="ball"></div>
						<h1 class="message"></h1>
						<div class="board d-flex align-items-center justify-content-center">
							<button id="startGameBtn" class="straight-btn">Start</button>
						</div>
						<h1 class="player_1_score">0</h1>
						<h1 class="player_2_score">0</h1>
						<h1 class="player_1_name">Player 1</h1>
						<h1 class="player_2_name">Player 2</h1>
					</div>
					<button id="showControlsBtn" class="straight-btn">Show Controls</button>
				</div>
				<div class="controls" style="display: none;">
					<h2>Player 1</h2>
					<h3>Move Up: W</h3>
					<h3>Move Down: S</h3>
					<h2>Player 2</h2>
					<h3>Move Up: Arrow Up</h3>
					<h3>Move Down: Arrow Down</h3>
				</div>
			</div>
		</div>
	</div>
</body>

<footer class="myFooter sticky-footer">
</footer>

</html>
