</html>
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<style>
		.container {
			position: relative;
			top: 80px;
		}
	</style>
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div class="scrollable">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="board">
						<div class="paddle paddle_1"></div>
						<div class="paddle paddle_2"></div>
						<div class="ball"></div>
						<h1 class="message"></h1>
						<div class="board d-flex align-items-center justify-content-center">
							<button id="startGameBtn" class="straight-btn">Start</button>
						</div>
						<h1 class="player_1_score">0</h1>
						<h1 class="player_2_score">0</h1>
						<h1 class="player_1_name">Player 1</h1>
						<h1 class="player_2_name">Player 2</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/setActive.js"></script>
	<script type="text/javascript" src="../static/js/friendlist.js"></script>
	<script type="text/javascript" src="../static/js/login42.js"></script>
</body>

<footer class="myFooter">
</footer>

</html>