<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<style>

	</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			{% include 'topbar.html' %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<div class="row">
						<div class="col-auto">
							<h1 id="usernameProfil" class="display-3"></h1>
							<ul id="userInfo">
								<li id="emailProfil"></li>
								<li id="firstNameProfil"></li>
								<li id="lastNameProfil"></li>
								<li id="campusProfil"></li>
								<li id="levelProfil"></li>
								<li id="walletProfil"></li>
								<lid id="correctionPointProfil"></lid>
								<li id="locationProfil"></li>
							</ul>
						</div>
						<div class="col-auto ml-3">
							<div class="profile-image-container">
								<img id="userImageProfil" src="" alt="User Image" class="img-fluid profile-image">
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/setActive.js"></script>
	<script type="text/javascript" src="../static/js/profil.js"></script>
	<script type="text/javascript" src="../static/js/login42.js"></script>
</body>

</html>