<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			{% include 'topbar.html' %}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<form id="skinSettingsForm">
						<label for="ballSkin">Ball Skin:</label>
						<select id="ballSkin">
							<option value="skin1">Skin 1</option>
							<option value="skin2">Skin 2</option>
						</select>
						
						<label for="paddleSkin">Paddle Skin:</label>
						<select id="paddleSkin">
							<option value="skin1">Skin 1</option>
							<option value="skin2">Skin 2</option>
						</select>
						
						<input type="submit" value="Save">
					</form>
				</div>
				<div id="successMessage" style="display: none;">Settings saved!</div>
				<div class="container">
					<div class="row">
						<div class="col">
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/setActive.js"></script>
	<script type="text/javascript" src="../static/js/login42.js"></script>
	<script type="text/javascript" src="../static/js/settings.js"></script>
</body>

</html>