<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<meta name="description" content="Setup your 2FA">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
	<script type="text/javascript" src="{% static 'js/login42.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/navigation.js' %}" defer></script>
	<script type="text/javascript" src="{% static 'js/setActive.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/friendlist.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/setup2FA.js' %}"></script>
	<style>
		h2 {
			font-family: 'GG SANS', sans-serif;
			font-weight: bold;
			text-align: center;
		}
		p {
			padding: 0px;
			margin-top: 10px;
		}

		#confirm2FAButton {
			margin-top: 10px;
			float: right;
		}
	</style>
</head>

<body>
	{% include 'topbar.html' %}
	{% include 'friendlist.html' %}
	<div class="center-container">
		<div class="card custom-bg no-hover flex-2facard">
			<div id="setup2FAContainer">
				<h2>Setup Two-Factor Authentication</h2>
				<div id="qrCodeContainer">
					<img src="{{ qr_code_url }}" alt="QR Code">
				</div>
				<p>Scan the QR code using your authenticator app.</p>
				<div id="2faCodeContainer">
					<label for="2faCode">Enter the 6-digit code from your authenticator app:</label>
					<input type="text" id="2faCode" name="2faCode" required>
				</div>
				<button id="confirm2FAButton" class="btn yellow-btn">Confirm 2FA Setup</button>
			</div>
		</div>
	</div>
</body>

<footer class="myFooter sticky-footer">
</footer>

</html>