<div class="container-fluid">
	<div class="row">
		<nav class="col-12 d-none d-md-block topbar text-whites d-flex justify-content-center align-items-center">
			<div class="topbar-sticky d-flex flex-row">
				<div class="nav-item">
				   <a class="nav-link nav-link.active" href="/homePage/">Home <span class="sr-only">(current)</span></a>
				</div>
				<div class="nav-item">
				   <a class="nav-link nav-link.active" href="/profil/">Profil <span class="sr-only">(current)</span></a>
				</div>
				<div class="nav-item">
				   <a class="nav-link nav-link.active" href="/pongGame/">Game</a>
				</div>
				<div class="nav-item">
				   <a class="nav-link nav-link.active" href="/leaderboard/">Leaderboard</a>
				</div>
				<div class="nav-item">
				   <a class="nav-link nav-link.active" href="/settings/">Settings</a>
				</div>
			</div>
		</nav>
	</div>
 </div>