<div class="container-fluid">
	<div class="row">
		<nav class="col-12 d-none d-md-block topbar d-flex justify-content-between align-items-center"
			style="background-color: #18181c; padding: 0; height: 72px; z-index: 1;">
			<div class="topbar-sticky d-flex flex-row align-items-center">
				<div class="nav-item">
					<a class="nav-link nav-link.active hover-square" href="/homePage/" style="color: #AAAAAE;">Home <span
							class="sr-only">(current)</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link nav-link.active hover-square" href="/profil/" style="color: #AAAAAE;">Profil <span
							class="sr-only">(current)</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link nav-link.active hover-square" href="/pongGame/" style="color: #AAAAAE;">Game</a>
				</div>
				<div class="nav-item">
					<a class="nav-link nav-link.active hover-square" href="/leaderboard/" style="color: #AAAAAE;">Leaderboard</a>
				</div>
				<div class="nav-item">
					<a class="nav-link nav-link.active hover-square" href="/settings/" style="color: #AAAAAE;">Settings</a>
				</div>

				<!-- Right side with user info and logout button -->
				<div class="ml-auto d-flex align-items-center">
					<button id="Login_Logout" class="black-btn" style="color: #fff;">Login with 42</button>
					<div id="userName" style="color: #ddd; padding: 10px;"></div>
					<img id="userImage" src="" alt="User Image">
				</div>
			</div>
		</nav>
	</div>
</div>