<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			{% include 'topbar.html' %}
			<div class="d-flex">
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<form id="create-tournament-form">
							<input type="text" id="tournament-name" name="tournament-name" placeholder="Tournament Name" required>
							<button type="submit" class="button-style">Create</button>
						</form>
						<table id="tournament-list">
							<thead>
								<tr>
								<th>Name</th>
								<th>Status</th>
								<th>Players</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const csrfToken = "{{ csrf_token }}";
	</script>
	<script type="text/javascript" src="../static/js/setActive.js"></script>
	<script type="text/javascript" src="../static/js/login42.js"></script>
	<script type="text/javascript" src="../static/js/tournament.js"></script>
</body>

</html>